# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/

# Envs & local tools
venv/
.venv/
.env
.python-version

# OS cruft
.DS_Store
Thumbs.db

# Data / logs
*.log
*.sqlite*
*.db

# Optional: onnx artifacts if big
st-onnx/
